<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Personal Assistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Personal-Assistant-Watch (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Personal-Assistant-Watch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PersonalAssistantWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4270B5B209A4866009DC4DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AF45F52049BE1500B9093F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AF46092049BE1600B9093F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4AF46142049BE1600B9093F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
